.context-menu {
    position: absolute;
    z-index: 10000;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.context-menu li {
    padding: 6px 12px;
    list-style: none;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #eee;
}

#message-container {
    scroll-behavior: smooth;
}

.input-message-wrapper {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 10px;
}

textarea[name="message"] {
    resize: none;
    height: 40px;
}